# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/

# rust
target/

# frontend code
node_modules/
dist/
.svelte-kit/

# other
package-lock.json
node_modules/
dist/
.env
.mops
canister.sh
upgrade.sh
tests/pic/nns_state
